@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  background: #ffdf00;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 380px;
  background: white;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 18px 0;
}

.input-text-box,
.select-voice-box {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}

label {
  font-weight: 500;
}

textarea {
  padding: 6px;
}

select {
  width: 100%;
  padding: 10px 0;
  font-size: medium;
  padding: 6px;
}

.select-voice-box {
  margin: 10px 0;
}

#speech-btn {
  width: 100%;
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: 600;
  border: black;
  padding: 10px 0;
  margin-top: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.speaking-process {
  background-color: gray !important;
  border: grey !important;
  cursor: progress;
  pointer-events: none;
}

#speech-btn:hover {
  background-color: grey;
  border: grey;
}

#speech-btn:active {
  background-color: black;
  border: black;
}
